@model IEnumerable<TodoMVC.Models.TodoModal>

@{
    ViewData["Title"] = "EndOfShift";
}

<h1>EndOfShift</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.completed_task)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.completedtime)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.completed_task)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.completedtime)
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index">Back to List</a>