@model IEnumerable<TodoModal>

<div style="border:solid 1px;margin:5px">

    <div><h1 style="text-align:center;border:solid 1px;margin-right:300px;margin-left:400px;">Task Management</h1></div>
    <table style="width:95%;text-align:center;margin:10px 10px 10px 10px">
        <tr>
            <th style="border:solid 1px">To Do</th>
            <th style="border:solid 1px">Working</th>
            <th style="border:solid 1px">Completed</th>
        </tr>
        <tr>

            <td style="border:solid 1px;width:35%">
                @foreach (var item in Model)
                {
                    if (item.status == 0)
                    {
                        <div style="border:solid 1px">
                            @item.username <br />@item.todo<br /> 
                            <button onclick="addToWorking(@item.id)">Add To Working</button>
                        </div>
                    }
                }
            </td>

            <td style="border:solid 1px;width:30%">
                @foreach (var item in Model)
                {
                    if (item.status == 1)
                    {
                        <div style="border:solid 1px">
                            @item.username<br /> @item.working_queue<br />
                            <button onclick="addToCompleted(@item.id)">Add To Completed</button>
                        </div>
                    }
                }
            </td>
            <td style="border:solid 1px;width:30%">
                @foreach (var item in Model)
                {
                    if (item.status == 2)
                    {
                        <div style="border:solid 1px">
                            @item.username<br /> @item.completed_task
                        </div>
                    }
                }
            </td>


        </tr>
        <tr>
            <td style="border:solid 1px"><button onclick="addTodo()">Add To Do</button></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <a class="navbar-brand" style="border:solid 1px;margin:3px 3px 3px 3px;margin-left:1150px" asp-area="" asp-controller="Todo" asp-action="EndOfShift">End of Shift</a>

</div>

<div>

    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">To Do</h5>
                    <button type="button" onclick="closePopUp()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td><label>Enter Name</label></td>
                            <td><input type="text" id="username" /></td>
                        </tr>
                        <tr>
                            <td><label>Todo</label></td>
                            <td><input type="text" id="todo" /></td>
                        </tr>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="saveTodo()" class="btn btn-primary">Save To Do</button>
                    <button type="button" onclick="closePopUp()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/todo.js"></script>